.featured-post-container {
    display: flex;
    justify-content: space-between;
    color: #222830;
    margin-top: 80px;
}

.featured-post-container div img {
    width: 45vw;
    border-radius: 6px;
}

.featured-post-container div:nth-child(2) {
    max-width: 35vw;
}

.featured-post-date {
    font-size: 0.8rem;
}

.featured-post-title {
    margin-top: 20px;
}

.featured-post-description {
    margin-top: 20px;
    color: #565757;
}